[Unit]
Description=aaurbs_webserver

[Service]
Type=simple
User=aur
Group=aur
WorkingDirectory=/root/git/aaurbs/
ExecStart=/root/git/aaurbs/aaurbs_webserver.py
