<div ng-controller="PackagesController">
    <table class="table table-hover">
        <thead>
        <tr>
            <th ng-click="sortField = 'package_name'; reverse = !reverse">Package-name</th>
            <th ng-click="sortField = 'package_version'; reverse = !reverse">Package version</th>
            <th ng-click="sortField = 'build_status'; reverse = !reverse">Build status</th>
        </tr>
        </thead>
        <tbody>
        <!--TODO: Modal dialog when clicking on package, option to view log & restart/start build-->
        <tr ng-repeat="package in packages | orderBy:sortField:reverse">
            <td>{{package.package_name}}</td>
            <td ng-show="package.package_version!=0">{{package.package_version}}</td>
            <td ng-show="package.package_version==0"><i class="fa fa-question" uib-popover="{{reasons[0]}}" popover-trigger="mouseenter"></i></td>
            <td><i class="fa" ng-class="package.build_status==1 ? 'fa-check' : (package.build_status==0 ? 'fa-question' : 'fa-times')" uib-popover="{{reasons[package.build_status]}}" popover-trigger="mouseenter"></i></td>
        </tr>
        </tbody>
    </table>
</div>