<div style="margin: 15px;">
    <div class="modal-header">
        <h2 class="modal-title">Package <b>{{package.package_name}}</b></h2>
    </div>
    <div class="modal-body">
        <p ng-if="package.package_version !== 0"><b>Package version: </b>{{package.package_version}}</p>
        <p ng-if="package.package_version === 0"><b>Package version: </b>Unknown</p>
        <p><b>Build status: </b>{{reasons[package.build_status]}}</p>
        <button class="btn btn-primary" type="button" ng-click="toggle_log()">Show/hide build log</button>
        <pre style="margin-top: 10px;" id="build_log" uib-collapse="isCollapsed">{{build_log}}</pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" ng-click="remove_dialog(package.package_name)" ng-if="user.role === 0">Remove package</button>
        <a ng-href="/api/download_file/{{package.package_name}}" class="btn btn-default" role="button" ng-if="package.package_version !== 0">Download package</a>
        <button class="btn btn-default" type="button" ng-click="close()">Close</button>
    </div>

</div>