<div ng-controller="RegisterController">
    <h2>Register</h2>
    <form novalidate class="simple-form">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" ng-model="username">
        </div>
        <div class="form-group">
            <label for="pw">Password:</label>
            <input type="password" class="form-control" id="pw" ng-model="pw">
        </div>
        <button type="button" class="btn btn-default" ng-click="register_user(username, pw)">Submit</button>
    </form>
</div>